body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/M%C3%A1laga_-_vistas_desde_el_Parador_de_Gibralfaro_01_%28cropped%29.jpg/1920px-M%C3%A1laga_-_vistas_desde_el_Parador_de_Gibralfaro_01_%28cropped%29.jpg");
    background-size: cover;
    background-position: center;
    height: 12rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

header h1 a {
    text-decoration: none; 
    color: white; 
    font-size: 2.5rem; 
    font-weight: bold;
}


header p {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
}

main {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
}

.places .card img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 10px;
}

.places {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem; 
}

main img {
    width: 800px; 
    height: 400px; 
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.back-button {
    display: inline-block;
    background: blue; 
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
